
.center-div {
	margin: 30px auto;
	width: 16.7cm;
}
.closed {
	background-image:url(../icon/icon_arrow_right.png);
	background-size: 10px 10px;
	background-position: 0px 5px;
	background-repeat:no-repeat;
	padding:0 0 0 12px;
}
.open {
	background-image:url(../icon/icon_arrow_down.png);
	background-size: 10px 10px;
	background-position: 0px 4px;
	background-repeat:no-repeat;
	padding:0 0 0 12px;
}
.expandable
{
	height: 20px;
	overflow:hidden;
}
.field {
	display: table-cell;
}
.field0 {
	min-width: 140px;
}
.h1 {
	display: block;
	margin: 21px 0;
	font-size: 32px;
	font-weight: bold;
}
.h2 {
	display: block;
	margin: 19px 0;
	font-weight: bold;
	font-size: 24px;
}
.image .field {
	float: right;
}
.photo {
	max-height: 240px;
	margin-top: 10px;
}
.header {
	font-size: 13px;
}
.header .field {
	width: 32.8%;
	min-width: 0;
}
.header .field0 {
	text-align: left;
}
.header .field1 {
	text-align: center;
}
.header .field2 {
	text-align: right;
}
