
.center-div {
	margin: 30px auto;
	width: 50%;
	height: auto;
	background-color: #fff;
}
.closed {
	background-image:url(../icon/icon_arrow_right.png);
	background-size: 10px 10px;
	background-position: 0px 5px;
	background-repeat:no-repeat;
}
.open {
	background-image:url(../icon/icon_arrow_down.png);
	background-size: 10px 10px;
	background-position: 0px 4px;
	background-repeat:no-repeat;
}
.expandable
{
	min-heigt: 20px;
	height: auto;
	margin: 2px;
	padding:0 0 0 10px;
	background-color: #ddd;
	overflow:hidden;
}
.kdaten .field0,
.level1 .field0,
.level0 .field0 {
	width: 160px;
	float: left;
}
.level1 .field1 {
	margin:0 0 0 160px;
}
.h1 {
	display: block;
	margin: 21px 0;
	font-size: 32px;
	font-weight: bold;
}
.h2 {
	display: block;
	margin: 19px 0;
	font-weight: bold;
	font-size: 24px;
}

.photo {
	float: right;
	max-height: 150px;
}