
.center-div {
	margin: 30px auto;
	width: 50%;
}
.closed {
	background-image:url(../icon/icon_arrow_right.png);
	background-size: 10px 10px;
	background-position: 0px 5px;
	background-repeat:no-repeat;
}
.open {
	background-image:url(../icon/icon_arrow_down.png);
	background-size: 10px 10px;
	background-position: 0px 4px;
	background-repeat:no-repeat;
}
.expandable
{
	min-heigt: 20px;
	padding:0 0 0 12px;
	overflow:hidden;
}
.field0 {
	display: inline-table;
	min-width: 140px;
}
.h1 {
	display: block;
	margin: 21px 0;
	font-size: 32px;
	font-weight: bold;
}
.h2 {
	display: block;
	margin: 19px 0;
	font-weight: bold;
	font-size: 24px;
}
.image .field {
	float: right;
}
.photo {
	max-height: 240px;
}