body
{
  padding: 30px;
}
.center-div
{
  margin: 0 auto;
  width: 1000px;
  height: auto;
  background-color: #ccc;
}
.expandable
{
  height: auto;
  margin: 2px;
  background-color: #ddd;
  overflow:hidden;
}
.kdaten .field0,
.level1 .field0,
.level0 .field0
{
  width:10em;
  float:left;
}
.level1 .field1
{
  margin:0 0 0 10em;
}