body
{
  padding: 30px;
}
.center-div
{
  margin: 0 auto;
  width: 1000px;
  height: auto;
  background-color: #ccc;
}
.expandable
{
  height: auto;
  margin: 2px;
  background-color: #ddd;
  overflow:hidden;
}
.field0, .field1
{
  margin:0 0 0 20px;
}
.level1 .field1
{
  margin:0 0 0 100px;
}